* {
    margin: 0;
    padding: 0;
  }
  body {
    background: rgb(141, 216, 227);
    color: white;
  }
  
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    input[type="text"],
    button {
      padding: 10px 15px;
    }
    #displayMovieRange {
      margin-left: 10px;
    }
  }
  
  main {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    img {
      width: 200px;
      height: 200px;
    }
    .card {
        padding: 10px 15px;
        border: 2px solid rgb(205, 160, 112);
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        background: rgb(240, 218, 218);
        h3{
            font-size: 20px;
            color: black;
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: black;
        }
      }
    }